<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="banner">
        <img src="https://wallpapercave.com/uwp/uwp2653189.jpeg" alt="Banner" class="banner-img">
        <div class="banner-info">
            <h1>Aquí iría un título</h1>
            <p>Aquí iría información de la página o de la empresa, lo que sea que quieran poner</p>
        </div>
    </div>
    <main class="main-info-container">
        <div class="cards">
            <% for(var i = 1; i <= 5; i++){ %>
                <div class="card card-<%= i %> ">
                    <div class="card__icon"><i class="fas fa-bolt"></i></div>
                    <h2 class="card__title">Título del trabajo</h2>
                    <h4 class="card__description">Aquí va la descripción del trabajo</h4>
                    <p class="card__apply">
                        <a class="card__link" href="#">Ver más <i class="fas fa-arrow-right"></i></a>
                    </p>
                </div>
            <% } %> 
            <div class="card card-1">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <h2 class="card__title">Título del trabajo</h2>
                <h4 class="card__description">Aquí va la descripción del trabajo</h4>
                <p class="card__apply">
                    <a class="card__link" href="#">Ver más <i class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %> 
</body>
</html>